.weather {
  margin: 30vh auto;
  border: solid grey;
  padding: 10px;
}

.weather p {
  margin: 0.25rem 0;
}

.weather-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.weather-header__condition {
  font-size: large;
  font-weight: 700;
}

.weather-header__temp {
  cursor: pointer;
}

.weather-header__temp span {
  margin: 2px;
}

.weather-content {
  overflow-x: auto;
  display: flex;
  justify-content: space-between;
}

.weather-content__icon-list {
  margin: 20px;
}

.weather-content__icon-list:first-of-type {
  transform: scale(1.5,1.2);
}

.weather-content__icon-list:first-of-type {
  font-size: medium;
  font-weight: 600;
}

.activeTemp {
  font-size: large;
  font-weight: bold;
  text-decoration: underline;
}

@media screen and (min-width: 1024px) {
  .weather { 
    width: 50%;
  }
}
